:root {
    --dark-blue: #0F172A;
    --light-blue: #5EEAD4;
    --dark-grey: #B5BEBE;
    --light-grey: #EAF3F3;
    --small-font-size: 20px;
    --medium-font-size: 24px;
    --big-font-size: 48px;
    --font: 'Hammersmith One';
}

html {
    scroll-snap-type: y mandatory;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dark-blue);
    font-family: var(--font);
}

main {
    position: relative;
}

/* Header */

header {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    background-color: #0A101F;
    position: fixed;
    z-index: 1;
}


.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-list ul {
    margin: 0px 30px;
}

.menu-list li {
    margin: 0px 40px 0px 40px;
    font-size: var(--small-font-size);
}

.menu-list a {
    text-decoration: none;
    color: var(--dark-grey);
}

.menu-list span {
    color: var(--light-blue);
}

.menu-list button {
    color: var(--light-blue);
    background-color: #0A101F;
    border: solid 1px;
    font-size: var(--small-font-size);
    font-family: var(--font);
    padding: 10px 30px;
    border-radius: 1rem;
}

/* Main */

/* Introduction */

#introduction {
    margin-left: 20%;
    height: 100vh;
    align-content: center;
    scroll-snap-align: center;
}

#introduction .welcome {
    color: var(--light-blue);
    font-size: var(--small-font-size);
    margin: 0px 0px 10px 0px;
}

#introduction .description span {
    color: var(--light-blue);
    font-size: var(--small-font-size);
}

#introduction h1 {
    color: var(--light-grey);
    font-size: var(--big-font-size);
    margin: 0;
}

#introduction h2 {
    color: var(--dark-grey);
    font-size: var(--big-font-size);
    margin: 0;
}

#introduction .description {
    color: var(--dark-grey);
    font-size: var(--small-font-size);
    margin: 10px 0px 0px 0px;
}

#introduction button {
    color: var(--light-blue);
    background-color: #0A101F;
    border: solid 1px var(--light-blue);
    font-size: var(--medium-font-size);
    margin-top: 25px;
    font-family: var(--font);
    padding: 15px 30px;
    border-radius: 1rem;
}

/* Projects */
#projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}


#projects h3 {
    font-size: var(--big-font-size);
    color: var(--light-blue);
    background-color: #0A101F;
    padding: 15px 30px;
    border-radius: 1rem;
    padding: 15px 30px;
    border-radius: 1rem;
    box-shadow: 2px 3px 20px 10px rgba(94, 234, 212, 0.71);
}

#projects .info {
    position: relative;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 0px 50px; */
}

#projects .info-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

#projects h5 {
    display: flex;
    font-size: var(--big-font-size);
    color: var(--light-blue);
    margin: 0;
    border-radius: 1rem;
}

#projects p {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
    text-align: center;
    margin-bottom: 0;

}



#projects .projects-container {
    height: 60%;
    width: 30%;
    background-color: #0A101F;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 20px 10px rgba(94, 234, 212, 0.71);
    margin-top: 2rem;
}

/* #projects .image-container {
    margin: 50px;
}

#projects .image {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
} */


.carousel {
    width: 100%;
    height: 50%;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
}


.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: -5rem;
}

.carousel-button.next {
    right: -5rem;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: var(--dark-blue);
    margin: 0px 50px;
    border-radius: 2rem;
    border: solid 1px var(--dark-grey);
    height: 100%;
}

.slide > img {
    display: block;
    height: 300px;
    width: 600px;
    object-position: center;
    border-radius: 2rem;
}

.slide[data-active] {
    opacity: 1;
}

.info-slide[data-active] {
    opacity: 1;
}


/* Skills */
/*     font-size: 5rem;
    color: var(--light-blue); */
#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    background-color: #0A101F;
}

#skills h3 {
    font-size: var(--big-font-size);
    color: var(--light-blue);
    background-color: var(--dark-blue);
    padding: 15px 30px;
    border-radius: 1rem;
    padding: 15px 30px;
    border-radius: 1rem;
    box-shadow: 2px 3px 20px 10px rgba(94, 234, 212, 0.71);
}

#skills .icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    border: solid 2px var(--light-blue);
    margin-top: 5rem;
    padding-bottom: 3rem;
    width: 70%;
}

#skills .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.linebreak {
    flex-basis: 100%
}

#skills .icon-container h4 {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
}


#skills .icons {
    color: var(--light-blue);
    font-size: 5rem;
    margin: 5rem 6rem 2rem 6rem;
}
/* Contact */
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    background-color: #0A101F;
}


#contact .contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    border: solid 2px var(--light-blue);
    margin-top: 5rem;
    padding: 3rem 0;
    width: 70%;
}

#contact .contact-icon-container {
    display: flex;
    flex-direction: row;
}

#contact .contact-icon-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact .contact-icon-box a {
    text-decoration: none;
    margin: 5rem 6rem 2rem 6rem;

}


#contact .icons {
    color: var(--light-blue);
    font-size: 5rem;
}

#contact h3 {
    font-size: var(--big-font-size);
    color: var(--light-blue);
    background-color: var(--dark-blue);
    padding: 15px 30px;
    border-radius: 1rem;
    padding: 15px 30px;
    border-radius: 1rem;
    box-shadow: 2px 3px 20px 10px rgba(94, 234, 212, 0.71);
}

#contact p {
    font-size: var(--small-font-size);
    color: var(--dark-grey);
}

/* Footer */

